extends layout

block content
    main
        .main-content
            header.main-header
                h1= title 
            section
                form.basic-form(action="" method="POST")
                    fieldset
                        legend Name:
                        input(type="text" required name="name" id="name" value=(category == undefined ? "" : category.name)) 
                    fieldset 
                        legend Description:
                        textarea(name="description" id="description" cols="30" rows="10" value=( category == undefined ? "" : category.description))
                    button.form-btn.submit(type="submit") Submit 
                    a(href=(category == undefined ? "/categories" : category.url))
                        button.form-btn.cancel Cancel
        if (!errors == undefined) 
            each err in errors 
                li= err.msg
    include footer.pug