extends layout

block content
    main
        .main-content
            header.main-header
                h1= category.name 
                p.description= msg
            section.list
                if (components.length > 0) 
                    each component in components
                        a.item(href=component.url)= component.name 
                else 
                    form.basic-form(action="" method="POST")
                        fieldset   
                            legend Admin Password: 
                            input(type="password" required name="password" id="password")
                        button.form-btn.choose-category(type="submit") Delete 
                        a(href="/")
                            button.form-btn.choose-category Cancel
        if (!errors == undefined) 
            each err in errors 
                li= err.msg
    include footer.pug