extends layout

block content
    main
        .main-content
            header.main-header
                h1= title
            section.list 
                a(href="/catalog/category/create")
                    h2.item + Add a Category
                each category in categories 
                    a(href=category.url)
                        h2.item= category.name
        
      
    include footer.pug