extends layout

block content
    main
        .main-content
            header.main-header
                h1= title 
            section
                form.basic-form(action="" method="POST")
                    fieldset
                        legend Name:
                        input(type="text" required name="name" id="name" value=(component == undefined ? "" : component.name)) 
                    fieldset 
                        legend Description:
                        textarea(name="description" id="description" cols="30" rows="10")= component == undefined ? "" : component.description
                    fieldset 
                        legend Stock 
                        input(type="number" required name="stock" id="stock" value=(component == undefined ? null : component.stock))
                    fieldset 
                        legend Price 
                        input(type="number" step="0.01" required name="price" id="price" value=(component == undefined ? null : component.price))
                    fieldset 
                        legend Category
                        select#category(name="category") 
                            option(value="none" selected=(component == undefined ? true : false) disabled hidden) Select an Option
                            each category in categories
                                option(value=category._id selected=(component == undefined ? false : (component.category.name == category.name ? true : false)))= category.name
                    fieldset 
                        legend Manufacturer
                        select#manufacturer(name="manufacturer") 
                            option(value="none" selected=(component == undefined ? true : false) disabled hidden) Select an Option
                            each manufacturer in manufacturers
                                option(value=manufacturer._id selected=(component == undefined ? false : (component.manufacturer.name == manufacturer.name ? true : false)))= manufacturer.name
                    button.form-btn.submit(type="submit") Submit 
                    a(href=(component == undefined ? "/categories" : component.url))
                        button.form-btn.cancel Cancel
    include footer.pug