footer#footer
    .footer-content
        .footer-header  
            a(href="/catalog") PC - Builder 
            a(href="https://github.com/Jerriath/pc-builder" target="_blank") 
                img(alt="github link")
        ul.footer-list 
            li     
                a(href="/catalog") My Catalog 
            li
                a(href="/catalog/categories") Categories 
            li
                a(href="/catalog/manufacturers") Manufacturers 
            li
                a(href="/catalog/components") Components 