extends layout

block content
  main
    .main-content
      header.main-header
        h1= title
        p Welcome to #{title}

  // I want to add some a for loop that will loop through each category and create a card (on a grid) for each; if there is no component saved, have an skeleton card

  include footer.pug