extends layout

block content
  main
    .main-content
      header.main-header
        h1= title

      section.category-row 
        article.category-col 
          h2 Processors

        article.category-col 
          h2 Memory
        
        article.category-col 
          h2 Peripherals
        
        article.category-col 
          h2 Miscelleneous
      
  include footer.pug