extends layout

block content
    main
        .main-content
            header.main-header
                h1= manufacturer.name 
            section
                p.description= msg
                if (components.length > 0) 
                    each component in components
                        ul
                            li= component.name 
                else 
                    button.choose-category Delete 
                    a.choose-category(href="/") Cancel
        if (!errors == undefined) 
            each err in errors 
                li= err.msg
    include footer.pug