extends layout

block content
    main
        .main-content
            header.main-header
                h1= title 
            section
                form.basic-form(action="" method="POST")
                    fieldset
                        legend Name:
                        input(type="text" required name="name" id="name" value=(manufacturer == undefined ? "" : manufacturer.name)) 
                    fieldset 
                        legend Description:
                        textarea(name="description" id="description" cols="30" rows="10")
                    button.form-btn.submit(type="submit") Submit 
                    a(href=(manufacturer == undefined ? "/manufacturers" : manufacturer.url))
                        button.form-btn.cancel Cancel