/*---------- Table of Contents ----------

  I.   Header Styles
  II.  Catalog Styles
  III. Category Styles
    a. Category_Details
  IV.  Component Styles
    a. Component Details
  V.   Manufacturer Styles
    a. Manufacturer Details
  VI.  General Layout Styles

  ---------- Table of Contents ----------*/



/* ----- Header Styles ----- */

header.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: lightslategray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  max-width: 60%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  position: relative;
}

#nav-button {
  background: url("../images//svgs/menu.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background-position: center;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

#nav-button:hover {
  background-color: rgba(61, 61, 61, 0.2);
}

#nav-menu {
  position: absolute;
  padding: 1rem 2rem;
  background-color: slategray;
  right: 0;
  top: -10rem;
  transition: top 0.4s linear;
  border-radius: 15px;
}

.expand {
  top: 5rem !important;
}

#nav-menu li {
  padding: 0.5rem 0;
  border-bottom: 1px solid mistyrose;
}

#nav-menu li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: mistyrose;
  padding: 0;
}

.header-content a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.2s linear;
}

.header-content a:hover {
  background-color: rgba(61, 61, 61, 0.2);
}

.header-content span {
  font-size: 2rem;
  color: mistyrose;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.error-msg {
  margin-top: 5rem;
}



/* ----- Catalog Styles -----*/

main {
  width: 100%;
  min-height: 100vh;
  background-color:rgba(61, 61, 61, 0.5);
  margin-top: 5rem;
}

.main-content {
  min-width: 700px;
  max-width: 70%;
  margin: auto;
  padding: 2rem 0;
}

@media screen and (max-width: 1200px) {
  .main-content {
    min-width: 600px;
    max-width: 85%;
  }
}

.main-header {
  text-align: center;
  margin-bottom: 3rem;
}

.main-header h1 {
  font-size: 2.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: steelblue;
  text-decoration: underline;
  font-weight: bold;
}

.choose-category {
  background-color: mistyrose;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: steelblue;
  transition: box-shadow 0.2s linear;
}

.choose-category:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}



/* ----- Category Styles ----- */





/* ----- Component Styles ----- */

.component-row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid mistyrose;
  padding: 0.5rem 2rem;
  height: 3rem;
  align-items: center;
}

.component-row h2 {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: mistyrose;
}

.component-row h2:nth-child(1) {
  width: 50%;
}

.component-row h2:nth-child(2) {
  width: 20%;
}

.component-row h2:nth-child(3) {
  width: 15%;
}

.component-row h2:nth-child(4) {
  width: 15%;
}

.button {
  background-color: mistyrose;
  border-radius: 5px;
  padding: 0.25rem;
  color: lightslategray;
  font-size: 1rem;
  border: 0;
  transition: box-shadow 0.2s linear;
}

.button:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}



/* ----- General Layout Styles ----- */

.list {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid mistyrose;
  padding: 0.5rem 2rem;
  height: 3rem;
  align-items: center;
}

.row h2 {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: mistyrose;
}

.row h2:nth-child(1) {
  width: 15%;
}

.row h2:nth-child(2) {
  width: 50%;
}

.row h2:nth-child(3) {
  width: 15%;
}

.row h2:nth-child(4) {
  width: 10%;
}

.name {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: mistyrose;
  text-decoration: none;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s linear;
  border-radius: 5px;
}

.name:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.highlight {
  font-weight: bold;
}

.description {
  margin: 1rem 0;
  color: mistyrose;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}