/*---------- Table of Contents ----------

  I.   Header Styles
  II.  Catalog Styles
  III. Category Styles
    a. Category_Details
  IV.  Component Styles
    a. Component Details
  V.   Manufacturer Styles
    a. Manufacturer Details
  VI.  General Layout Styles

  ---------- Table of Contents ----------*/



/* ----- Header Styles ----- */

header.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #101935;
  z-index: 99;
}

.header-content {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  max-width: 85%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  position: relative;
}

#nav-button {
  background: url("../images//svgs/menu.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background-position: center;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

#nav-button:hover {
  background-color: rgb(255, 228, 225, 0.3);
}

#nav-menu {
  position: absolute;
  padding: 1rem 2rem;
  background-color: #101935;
  right: 0;
  top: -10rem;
  transition: top 0.4s linear;
  border-radius: 15px;
}

.expand {
  top: 5rem !important;
}

#nav-menu li {
  padding: 0.5rem 0;
  border-bottom: 1px solid mistyrose;
}

#nav-menu li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: mistyrose;
  padding: 0;
}

.header-content a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.2s linear;
}

.header-content a:hover {
  background-color: rgb(255, 228, 225, 0.3);
}

.header-content span {
  font-size: 2rem;
  color: mistyrose;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.error-msg {
  margin-top: 5rem;
}



/* ----- Catalog Styles -----*/

main {
  width: 100%;
  min-height: 100vh;
  background-color: slategray;
  margin-top: 5rem;
}

.main-content {
  min-width: 700px;
  max-width: 85%;
  margin: auto;
  padding: 2rem 0;
}

@media screen and (max-width: 1200px) {
  .main-content {
    min-width: 600px;
    max-width: 85%;
  }
}

.main-header {
  text-align: center;
  margin-bottom: 3rem;
}

.main-header h1 {
  font-size: 2.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: mistyrose;
  text-decoration: underline;
  font-weight: bold;
}

.choose-category {
  background-color: mistyrose;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: #101935;
  transition: box-shadow 0.2s linear;
}

.choose-category:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.catalog-list {
  display: flex;
  flex-direction: column;
}

.catalog-row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid mistyrose;
  padding: 0.5rem 2rem;
  height: 3rem;
  align-items: center;
}

.catalog-row h2 {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: mistyrose;
}

.catalog-row h2:nth-child(1) {
  width: 15%;
}

.catalog-row h2:nth-child(2) {
  width: 50%;
}

.catalog-row h2:nth-child(3) {
  width: 15%;
}

.catalog-row h2:nth-child(4) {
  width: 10%;
}

.total-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 2rem;
  height: 3rem;
  align-items: space-between;
}

.total-row h2 {
  color: mistyrose;
  font-size: 1.25rem;
  padding: 1rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}



/* ----- Category Styles ----- */





/* ----- Component Styles ----- */

.component-row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid mistyrose;
  padding: 0.5rem 2rem;
  height: 3rem;
  align-items: center;
}

.component-row h2 {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: mistyrose;
}

.component-row h2:nth-child(1) {
  width: 50%;
}

.component-row h2:nth-child(2) {
  width: 20%;
}

.component-row h2:nth-child(3) {
  width: 10%;
}

.component-row h2:nth-child(4) {
  width: 10%;
}

.button {
  background-color: mistyrose;
  border-radius: 5px;
  padding: 0.25rem;
  color: #101935;
  font-size: 1rem;
  border: 0;
  transition: box-shadow 0.2s linear;
}

.button:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.detail-routes {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}



.component-details {
  display: flex;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

.main-details {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid mistyrose;
  margin-right: .5rem;
}

.specifications {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail-item {
  padding: 1.5rem 0;
}

.spec-detail {
  border-bottom: 1px solid mistyrose;
  padding: 1rem;
  color: mistyrose;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}



/* ----- Manufacturer Styles ----- */





/* ----- General Layout Styles ----- */

.list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.list a {
  text-decoration: none;
}

.item {
  font-size: 1.75rem;
  padding: 0.5rem;
  width: 100%;
  color: mistyrose;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: mistyrose;
  text-decoration: none;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s linear;
  border-radius: 5px;
}

.name:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #101935;
  text-decoration: underline;
  padding: 0 0.5rem;
  margin-bottom: 0.25rem;
}

.highlight {
  font-weight: bold;
}

.description {
  margin: 1rem 0;
  color: mistyrose;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.basic-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

fieldset {
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  position: relative;
}

fieldset legend {
  color: #101935;
  text-decoration: underline;
  padding: 0 2px;
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.2s;
  position: relative;
  top: 25px;
}

fieldset:focus-within input {
  border: 3px solid #101935;
}

fieldset:focus-within textarea {
  border: 3px solid #101935;
}

fieldset:focus-within legend {
  animation: bounce 0.2s linear none 1;
}

@keyframes bounce {
  0% {
    top: 25px;
  }
  25% {
    top: 22px;
  }
  50% {
    top: 25px;
  }
  75% {
    top: 27px;
  }
  100% {
    top: 25px;
  }
}

input, textarea, select {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border: 0px solid mistyrose;
  background-color: mistyrose;
  transition: border 0.2s linear;
  color: #101935;
}

input,textarea:focus {
  outline: 0;
}

.form-btn {
  width: 100%;
  padding: .75rem;
  margin: .5rem 0;
  font-size: 1.25rem;
}

.form-btn {
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.2s linear;
}

.form-btn:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.submit {
  background-color: mistyrose;
}

.cancel {
  background-color: rgb(114, 152, 184);
}