/*---------- Table of Contents ----------

  I.   Header Styles
  II.  Catalog Styles
  III. 

  ---------- Table of Contents ----------*/



/* ----- Header Styles ----- */

header.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: lightslategray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  max-width: 60%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.dropdown {
  background: url("../images//svgs/menu.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background-position: center;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.dropdown:hover {
  background-color: rgba(61, 61, 61, 0.2);
}

.header-content a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.2s linear;
}

.header-content a:hover {
  background-color: rgba(61, 61, 61, 0.2);
}

.header-content span {
  font-size: 2rem;
  color: mistyrose;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.error-msg {
  margin-top: 5rem;
}



/* ----- Catalog Styles -----*/

main {
  width: 100%;
  min-height: 100vh;
  background-color:rgba(61, 61, 61, 0.1);
  margin-top: 5rem;
}

.main-content {
  min-width: 1200px;
  max-width: 85%;
  margin: auto;
  padding: 2rem 0;
}

@media screen and (max-width: 1200px) {
  .main-content {
    min-width: 600px;
    max-width: 85%;
  }
}

.main-header {
  text-align: center;
  margin-bottom: 3rem;
}

.main-header h1 {
  font-size: 2.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: steelblue;
  text-decoration: underline;
  font-weight: bold;
}

.category-row {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.category-col {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: darkgrey;
  border-radius: 40px;
  padding: 1rem;
}

.category-col h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  padding: 0 2rem;
  padding-bottom: 0.5rem;
  color: mistyrose;
  border-bottom: 1px solid mistyrose;
}